/* home page */

.background-div {
  background: #FFC5C7;
  height: 100vh;
  background-image: url('/images/ellipse1.svg'), url('/images/ellipse2.svg');
  background-position: bottom left, top right;
  background-repeat: no-repeat;
}

.welcome-card {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-welcome-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  color: white;
  font-size: 1.5rem;
  gap: 32px;
  padding: 40px;
}

.home-logo {
  max-width: 20%;
  height: auto;
  margin-right: 40px;
  width: 65%;
}

.home-button {
  width: 100%;
  background-color:#FFC5C7;
  border: 2px solid white;
  color: white;
  padding: 8px 24px; 
  border-radius: 16px; 
  transition: all 0.3s; 
  font-size: 1.5rem;
}

.home-button:hover {
  background-color: white;
  color: #FFC5C7; 
  transition: all 0.3s;
}

@media screen and (max-width: 1450px) {
  .home-logo {
    width: 100%;
  }

  .inner-welcome-card {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .text-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    font-size: 1.5rem;
    gap: 20px;
    padding: 10px;
  }
  
}

@media screen and (max-width: 700px) {
  .background-div {
    background: #9B99FF;
    height: 100%;
  }

  .home-logo {
    height: auto;
    margin-right: 40px;
    width: 45%;
  }

  .outer-div {
    min-height: auto;
    background: none;
  }
  
  .welcome-card {
    padding-bottom: 20px;
  }

  .inner-welcome-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    color: white;
    font-size: 1.5rem;
    gap: 32px;
    padding: 40px;
  }

  .home-logo {
    max-width: 50%;
    margin-right: 0;
  }

  .home-button {
    width: 100%;
    background-color:#9B99FF;
  }

  .home-button:hover {
    background-color: white;
    color: #9B99FF; 
    transition: all 0.3s;
  }

  .footer {
    position: relative;
    text-align: center; 
    width: 100%;
    margin: 0 auto; 
  }

  .footer-button {
    color: #9B99FF;
  }
  
}

/* footer */

.footer {
  position: absolute;
  padding: 10px;
  bottom: 0;
  left: 0;
}

.footer-button {
  background: none;
  border: none;
  color: #ffd8d9;
  font-size: 1rem;
  transition: all 0.3s; 
}

.footer-button:hover {
  color: white; 
  transition: all 0.3s;
}